/*.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}
}*/

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
button {
    /*font-family: Georgia;*/
    margin: 11px 4px;
    padding: 10px 16px;
    /*font-weight: bolder;*/
    font-size: medium;
    font-style: normal;
}

button:hover {
    background: rgba(0,0,0,0);
    box-shadow: inset 0 0 0 3px black;
}


input, label {
    /*margin: .4rem 0;*/
    /*margin-left: 25%;*/
    /*text-align: center;*/
    border-radius: 24px;
    width: 450px;
    height: 44px;
    border: 1px solid;
    display: flex;
    margin: 0 auto;
}

.parent {
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

img {
    position: relative;
    display: block;
    border: none;
    height: 92px;
    padding-top: 150px;
    margin: auto;
}