* {
    margin: 0;
    padding: 0;
}

.right-menu a {
    text-decoration: none;
    color: black;
}

.right-menu {
    display: flex;
    text-align: right;
    padding-right: 30px;
    padding-left: 30px;
    z-index: 987;
    display: block;
    font-family: Arial;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}

.microphone {
    background: url("http://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png") no-repeat center;
    width: 24px;
    vertical-align: middle;
    padding: 0 8px;
    cursor: pointer;
    background-size: 24px;
}

.keyboard {
    width: 44px;
    background: url("http://www.gstatic.com/inputtools/images/tia.png") no-repeat center;
    vertical-align: middle;
    padding: 0 8px;
    cursor: pointer;
}

.mousejob input:hover {
    border: 1px solid #dfe1e5;
}

.mousejob input {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 16px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    user-select: none;
    color: #5F6368;
}

.bg {
    background: url("img/unnamed.jpg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
}

.search1 {
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    display: flex;
    height: 39px;
    padding: 0px 8px 0 16px;
    padding-left: 14px;
    margin-top: 35px;
    width: 560px;
}

.search-icon img {
    width: 100%;
    height: 100%;
    display: flex;
}

.search-icon {
    width: 14.5px;
    height: 14.5px;
    align-items: center;
    padding-right: 13px;
    margin-top: 10px;
    opacity: 0.5;
}

.search-field {
    width: 300px;
    margin: 0;
    padding: 0;
    flex: 100%;
    background-color: transparent;
    border: none;
}

.search-field:focus {
    outline: none;
}

li {
    display: inline-block;
}

.parent {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    overflow: auto;
    margin-top: 89px;
    border: none;
}

.imggoogle {
    position: relative;
    display: block;
    border: none;
    height: 92px;
    margin: auto;
    padding: 109px 0 0 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

footer a {
    color: black;
    font-size: 80%;
    font-family: Arial;
    padding: 0px 15px;
    text-decoration: none;
}
